#body{font_style: playfair display;}
#header{font-size: 25px;}
#img{margin: 10px auto 10px 2px;
    border: 1px solid black;}

#h1{color: rgb(3, 3, 3); 
    background-color: rgb(238, 237, 222); 
    font-size: 25px;}

#span{font-size: 15px;}
